// globalnav join
.join {
    border-radius: var(--border-radius-default);
    border: 1px solid var(--color-primary);
    background: var(--background-color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 80px;
    height: 32px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1em;
    color: var(--color-primary);
    position: relative;

    .icon {
        background: url(https://raw.githubusercontent.com/divclasssg/images/9bbe2474f68fcaea6cffa697ff81590620477c89/bls/lfc/icons/person/icon-user.svg)
            no-repeat 0 0 / cover;
        display: block;
        width: 15px;
        height: 15px;
    }

    .text {
        transform: translateY(1px);
    }
}

// globalnav login
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-primary);
    padding: 0 16px;
}

// globalnav Languages
.languages {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 32px;
    padding: 0 16px;

    .iconGlobal {
        background: url("https://raw.githubusercontent.com/divclasssg/images/9bbe2474f68fcaea6cffa697ff81590620477c89/bls/lfc/icons/global/icon-global-black.svg")
            no-repeat 0 0 / cover;
        display: block;
        width: 20px;
        height: 20px;
    }
    .text {
        font-size: 16px;
        font-weight: 400;
        color: var(--color-text-primary);
        text-transform: capitalize;
    }
}

// button Text
.button {
    display: inline-flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    line-height: 1em;
    text-transform: capitalize;

    &.fill {
        border-radius: var(--border-radius-default);

        &.large {
            height: 48px;
            padding: 0 24px;
        }
        &.medium {
            height: 40px;
            padding: 0 20px;
        }
        &.small {
            height: 24px;
            padding: 0 12px;
        }

        &.bgRed {
            background: var(--color-primary);
            color: var(--font-color-white);
        }

        &.bgYellow {
            background: var(--color-secondary);
            color: var(--font-color-primary);
        }
    }

    &.border {
        border-radius: var(--border-radius-default);
        border-width: 1px;
        border-style: solid;

        &.large {
            height: 48px;
            padding: 0 24px;
        }
        &.medium {
            height: 40px;
            padding: 0 20px;
        }
        &.small {
            height: 24px;
            padding: 0 12px;
        }

        &.bgRed {
            border-color: var(--color-primary);
            color: var(--color-primary);
        }

        &.bgYellow {
            border-color: var(--color-secondary);
            color: var(--color-secondary);
        }
        &.bgBlack {
            border-color: var(--color-black);
            color: var(--color-black);
        }
        &.bgWhite {
            border-color: var(--color-white);
            color: var(--font-color-white);
        }
    }

    &.large {
        font-size: 16px;
    }

    &.medium {
        font-size: 12px;
    }

    &.small {
        border-radius: var(--border-radius-small);
        font-size: 12px;
    }

    &.text {
        &.xlarge {
            font-size: 40px;
        }

        &.large {
            font-size: 32px;
        }

        &.medium {
            font-size: 16px;
        }

        &.small {
            font-size: 14px;
        }
        &.textWhite {
            color: var(--font-color-white);
        }

        &.textBlack {
            color: var(--font-color-primary);
        }

        &.textRed {
            color: var(--color-primary);
        }

        &.textYellow {
            color: var(--color-secondary);
        }
    }

    svg {
        transition: transform 0.2s ease-in-out;
    }

    &:hover {
        svg {
            transform: translate3d(2px, 0, 0);
        }
    }
}

.buttonAddFixturesToCalendar {
    border-radius: var(--border-radius-default);
    border: 1px solid var(--color-secondary);
    background: var(--color-secondary);
    display: inline-flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    height: 36px;
    font-weight: 700;
    line-height: 1em;
    color: var(--font-color-primary);
    text-transform: capitalize;
    padding: 0 12px;
}
