.badge {
    border-radius: var(--border-radius-small);
    display: inline-flex;
    align-items: center;
    height: 24px;
    padding: 0 12px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;

    &.last {
        background-color: var(--color-secondary);
        color: var(--font-color-primary);
    }

    &.next {
        background-color: var(--color-primary);
        color: var(--font-color-white);
    }

    &.upcoming {
        background-color: var(--color-gray-200);
        color: var(--font-color-white);
        color: var(--font-color-primary);
    }
}
