.adv1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 96px 0;
}

.adv2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 0;
}
