.container {
    background: var(--background-color-primary);

    .content {
        width: 1260px;
        margin: 0 auto;
        padding: 96px 0;

        .partners {
            padding-bottom: 96px;

            .mainPartners {
                padding-bottom: 128px;

                .list {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .item {
                        flex: 1 1 auto;

                        .link {
                            position: relative;
                            display: block;
                            text-align: center;

                            .image {
                                object-fit: cover;
                            }
                        }
                    }
                }
            }

            .subPartners {
                .list {
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    row-gap: 60px;

                    .item {
                        .link {
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100%;

                            .image {
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }

        .sns {
            padding-bottom: 24px;

            .list {
                display: flex;
                gap: 12px;
            }
        }

        .appDownload {
            .title {
                font-size: 14px;
                font-weight: 400;
                line-height: 1em;
                color: var(--font-color-primary);
            }

            .list {
                display: flex;
                align-items: center;
            }
        }

        .legal {
            padding: 40px 0 0;

            .list {
                display: flex;
                align-items: center;
                gap: 24px;

                .link {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1em;
                    color: var(--font-color-primary);
                }
            }
        }
    }

    .copyright {
        border-top: 1px solid var(--color-gray-200);
        padding: 48px 0;

        p {
            font-size: 12px;
            font-weight: 400;
            line-height: 1em;
            color: var(--font-color-primary);
            text-align: center;
        }
    }
}
