.container {
    display: flex;
    align-items: center;
    gap: 16px;

    .item {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        .indicator {
            border-radius: 50%;
            background-color: var(--color-gray-200);
            width: 16px;
            height: 16px;
        }

        &.active {
            width: 40px;

            .indicator {
                border-radius: 24px;
                background-color: var(--color-primary);
                width: 40px;
            }
        }
    }
}
