@use "root";
@use "font";

html,
body {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 1em;
    color: var(--font-color-primary);
    background-color: var(--background-color-primary);
}
.main {
    max-width: 2560px;
    margin: 0 auto;
    overflow: hidden;
}

.visuallyhidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}
