.container {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    max-width: 1920px;
    margin: 0 auto;
    z-index: 1000;

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 96px;

        .list {
            display: flex;
            gap: 48px;

            .nav {
                display: flex;
                gap: 36px;
                align-items: center;

                .link {
                    pointer-events: none;
                    cursor: pointer;
                }
            }
        }

        .utilities {
            .list {
                display: flex;
                gap: 24px;
                align-items: center;
            }
        }
    }
}