.container {
    background: var(--background-color-primary);
    padding: var(--layout-padding-top-and-bottom) 0;

    .content {
        width: 1260px;
        margin: 0 auto;

        .items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            width: 100%;
            margin-top: 48px;
        }
    }
}
