.container {
    border-radius: var(--border-radius-default);
    position: relative;
    width: 407px;
    overflow: hidden;

    &:hover {
        .imageInner {
            transform: scale(1.02);
        }
    }

    .link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }



    .image {
        position: relative;
        width: 100%;
        height: 498px;

        .imageInner {
            background-size: cover;
            background-position: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;            
            transition: transform 0.3s ease-in-out;
        }
    }

    .content {
        background: var(--background-color-primary);
        position: relative;
        padding: 24px;

        

        .category {
            font-size: 16px;
            font-weight: 700;
            line-height: 1.4em;
            color: var(--font-color-primary);
            text-transform: uppercase;
            padding-bottom: 4px;
        }

        .title {
            height: 68px;
            font-size: var(--font-body2-size);
            font-weight: var(--font-body2-weight);
            line-height: var(--font-body2-line-height);
            color: var(--font-body2-color);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 20px;
        }

        .date {
            font-size: var(--font-caption2-size);
            font-weight: var(--font-caption2-weight);
            line-height: var(--font-caption2-line-height);
            color: var(--font-color-primary);
        }
    }
}