.container {
    background: var(--background-color-secondary);
    padding: var(--layout-padding-top-and-bottom) 0;

    .content {
        max-width: 1440px;
        margin: 0 auto;

        .fixtures {
            display: flex;
            gap: 20px;
            padding-bottom: 48px;
        }

        .standings {
            overflow: hidden;
        }
    }
}
