.container {
    background: var(--background-color-secondary);
    padding: var(--layout-padding-top-and-bottom) 0;

    .content {
        max-width: 1440px;
        margin: 0 auto;

        .subhead {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .links {
                display: flex;
                gap: 24px;
                padding-bottom: var(--font-h3-padding-bottom);
            }
        }

        .headline {
            padding-bottom: 48px;
        }

        .fixtures {
            display: flex;
            gap: 20px;
            padding-bottom: 48px;
        }

        .standings {
            overflow: hidden;

            .subhead {
                flex-direction: column;
                align-items: flex-start;
                padding-bottom: 16px;
            }
        }
    }
}
