.container {
    border-radius: var(--border-radius-default);
    background-color: var(--background-color-primary);
    flex: 1 1 auto;
    overflow: hidden;

    .info {
        padding: 40px 40px 84px;

        .detail {
            display: flex;
            justify-content: space-between;
            padding-bottom: 32px;

            .infoDetail {
                .competition {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 1em;
                    text-transform: uppercase;
                    color: var(--font-color-primary);
                    padding-bottom: 4px;
                    padding-top: 12px;
                }
                .schedule,
                .location {
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--font-color-primary);
                }
                .schedule {
                    padding-bottom: 8px;
                }
            }

            .logoCompetition {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                width: 33px;
                height: 40px;

                &.premier-league {
                    background-image: url("https://github.com/divclasssg/images/blob/main/bls/lfc/logo_competition_large/logo-premier-league.png?raw=true");
                }
            }
        }

        .matchup {
            .clubLogos {
                display: inline-flex;
                align-items: center;
                gap: 12px;
                padding-bottom: 16px;

                .liverpool {
                    background: url("https://github.com/divclasssg/images/blob/main/bls/lfc/logo_clubs_large/liverpool.png?raw=true")
                        no-repeat 50% 50% / cover;
                    display: block;
                    width: 44px;
                    height: 80px;
                }

                .vs {
                    font-size: 24px;
                    font-weight: 700;
                    color: var(--color-gray-600);
                }

                .opponent {
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: 50% 50%;
                    display: block;
                    width: 60px;
                    height: 60px;
                    margin-top: auto;
                }
            }

            .result {
                .liverpool,
                .opponent {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .clubname,
                    .score {
                        display: block;
                        font-size: 28px;
                        font-weight: 700;
                        color: var(--color-primary);
                        line-height: 1em;
                        text-transform: uppercase;
                    }
                }

                .opponent {
                    .clubname,
                    .score {
                        font-size: 24px;
                        font-weight: 400;
                        color: var(--font-color-primary);
                    }
                    .score {
                        padding-right: 3px;
                    }
                }

                &.upcoming {
                    .clubname {
                        color: var(--font-color-secondary);
                    }
                }
            }

            &.away {
                .clubLogos {
                    flex-direction: row-reverse;
                }

                .result {
                    display: flex;
                    flex-direction: column-reverse;
                }
            }
        }
    }

    .link {
        height: 64px;

        &.last {
            border-top: 1px solid var(--color-gray-200);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.next {
            background: var(--color-primary);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 24px;

            a {
                width: 50%;
            }

            a:first-of-type {
                font-weight: 400;
            }
        }

        &.upcoming {
            border-top: 1px solid var(--color-gray-200);
            display: flex;
            align-items: center;
            justify-content: center;

            .linkWrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                height: 100%;
            }

            .linkWrapper:first-of-type {
                border-right: 1px solid var(--color-gray-200);

                a {
                    font-weight: 400;
                }
            }

        }
    }
}
