:root {
    // system color
    --color-primary: var(--color-red-700);
    --color-secondary: var(--color-yellow-500);
    --color-tertiary: var(--color-green-500);
    --color-neutral: var(--color-neutral-600);

    --background-color-primary: var(--color-white);
    --background-color-secondary: var(--color-gray-100);

    // color black
    --color-black: #1d1d1f;

    // system gray colors
    --color-white: #fff;
    --color-gray-100: #f2f2f7;
    --color-gray-200: #e5e5ea;
    --color-gray-300: #d1d1d6;
    --color-gray-400: #c7c7cc;
    --color-gray-500: #aeaeb2;
    --color-gray-600: #8e8e93;

    // system red colors
    --color-red-50: #ffebee;
    --color-red-100: #ffccd1;
    --color-red-200: #fa9896;
    --color-red-300: #f36f6d;
    --color-red-400: #fe4b46;
    --color-red-500: #ff3626;
    --color-red-600: #f52927;
    --color-red-700: #e31b22;
    --color-red-800: #d60d1a;
    --color-red-900: #c80008;

    // system yellow colors
    --color-yellow-50: #fffde5;
    --color-yellow-100: #fff9c0;
    --color-yellow-200: #fff595;
    --color-yellow-300: #fef167;
    --color-yellow-400: #fcec3f;
    --color-yellow-500: #fae700;
    --color-yellow-600: #ffd900;
    --color-yellow-700: #ffc000;
    --color-yellow-800: #ffa700;
    --color-yellow-900: #fe7a00;

    // system green colors
    --color-green-50: #fffde5;
    --color-green-100: #fff9c0;
    --color-green-200: #fff595;
    --color-green-300: #fef167;
    --color-green-400: #fcec3f;
    --color-green-500: #fae700;
    --color-green-600: #ffd900;
    --color-green-700: #ffc000;
    --color-green-800: #ffa700;
    --color-green-900: #fe7a00;

    // system neutral colors
    --color-neutral-50: #eeeff0;
    --color-neutral-100: #d4d8dd;
    --color-neutral-200: #b7bfc7;
    --color-neutral-300: #9aa5b2;
    --color-neutral-400: #8391a0;
    --color-neutral-500: #6d7e90;
    --color-neutral-600: #606f7f;
    --color-neutral-700: #4f5b68;
    --color-neutral-800: #404853;
    --color-neutral-900: #1d1d1f;

    // typography

    // font-family
    --font-family: "LFC Sans", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Helvetica Neue", sans-serif;
    --font-lfc-serif: "LFC Serif", serif;
    --font-lfc-serif-condensed: "LFC Serif Condensed", serif;

    // font-color
    --font-color-primary: var(--color-black);
    --font-color-secondary: var(--color-neutral-600);
    --font-color-white: var(--color-white);

    // font system
    --font-h1-family: var(--font-lfc-serif);
    --font-h1-size: 64px;
    --font-h1-weight: 700;
    --font-h1-line-height: 1em;
    --font-h1-color: var(--font-color-white);
    --font-h1-text-border: 1px solid var(--color-secondary);

    --font-h2-size: 40px;
    --font-h2-weight: 700;
    --font-h2-line-height: 1em;
    --font-h2-color: var(--font-color-primary);
    --font-h2-padding-bottom: 36px;

    --font-h3-size: 32px;
    --font-h3-weight: 700;
    --font-h3-line-height: 1em;
    --font-h3-color: var(--font-color-secondary);
    --font-h3-padding-bottom: 24px;

    --font-body1-size: 36px;
    --font-body1-weight: 400;
    --font-body1-line-height: 1.4em;
    --font-body1-color: var(--font-color-primary);

    --font-body2-size: 24px;
    --font-body2-weight: 400;
    --font-body2-line-height: 1.4em;
    --font-body2-color: var(--font-color-primary);

    --font-body3-family: var(--font-lfc-serif);
    --font-body3-size: 32px;
    --font-body3-weight: 400;
    --font-body3-line-height: 1.4em;
    --font-body3-color: var(--font-color-primary);

    --font-caption1-size: 16px;
    --font-caption1-weight: 400;
    --font-caption1-line-height: 1em;

    --font-caption2-size: 14px;
    --font-caption2-weight: 400;
    --font-caption2-line-height: 1em;

    --font-globalnav-size: 16px;
    --font-globalnav-weight: 400;
    --font-globalnav-line-height: 1em;

    // layouts
    --layout-padding-top-and-bottom: 96px;
    --layout-max-padding-left: 330px;
    --layout-min-padding-left: 240px;
    --layout-max-width: 1440px;
    --layout-min-width: 1260px;

    // border-radius
    --border-radius-default: 12px;
    --border-radius-small: 8px;
}
