.container {
    border-radius: var(--border-radius-default);
    background: var(--background-color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 175px;
    height: 184px;
    padding: 16px;

    .ranking {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .rankingNumber {
            font-size: 40px;
            font-weight: 700;
            line-height: 1em;
            color: var(--font-color-primary);
        }

        .clubLogo {
            width: 40px;
            height: 40px;

            
        }
    }

    .clubInfo {
        .clubname {
            font-size: 16px;
            font-weight: 400;
            line-height: 1em;
            color: var(--font-color-primary);
            text-transform: capitalize;
            text-align: left;
            padding-bottom: 4px;
        }

        .points {
            display: block;
            font-size: 16px;
            font-weight: 700;
            line-height: 1em;
            color: var(--font-color-secondary);
            text-align: left;
            padding-bottom: 12px;
        }

        .form {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 4px;
        }
    }

    &.liverpool {
        background: var(--color-primary);

        .ranking {
            align-items: flex-start;
        }

        .clubLogo {
            width: 40px;
            height: 72.727px;
        }

        .rankingNumber,
        .clubname,
        .points {
            color: var(--font-color-white);
        }
    }
}