.h3 {
    font-size: var(--font-h3-size);
    font-weight: var(--font-h3-weight);
    line-height: var(--font-h3-line-height);
    color: var(--font-h3-color);
    padding-bottom: var(--font-h3-padding-bottom);
}
