.container {
    border-radius: var(--border-radius-default);
    background: var(--background-color-primary);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 407px;
    height: 407px;
    overflow: hidden;

    &:hover {
        .years {
            opacity: 1;
        }
    }

    .trophy {
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 163px;
        margin-bottom: 24px;
    }

    .info {
        font-weight: 700;
        color: var(--font-color-secondary);

        .number {
            font-family: var(--font-lfc-serif-condensed);
            font-size: 64px;
            line-height: 1em;
            padding-bottom: 8px;
        }

        .title {
            font-family: var(--font-lfc-serif);
            font-size: 24px;
            line-height: 1em;
        }
    }

    .years {
        opacity: 0;
        background: var(--color-primary);
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0 48px;
        transition: opacity 0.3s ease-in-out;

        .list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            column-gap: 8px;
            row-gap: 4px;

            .item {
                flex: 1 1 40%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
                font-family: var(--font-lfc-serif);
                font-size: 16px;
                font-weight: 700;
                line-height: 1.4em;
                color: var(--font-color-white);
                text-align: center;

                // &:nth-child(odd) {
                //     justify-content: flex-end;
                // }

                // &:nth-child(even) {
                    // justify-content: flex-start;
                // }
            }
        }
    }
}
