.container {
    background: var(--background-color-secondary);  
    padding: 96px 0; 

    .content {
        width: 1260px;
        margin: 0 auto;

        .list {
            display: flex;
            gap: 20px;
        }
    }
}