.container {
    border-bottom: 1px solid var(--color-gray-200);
    background: var(--background-color-primary);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    max-width: 2560px;
    margin: 0 auto;
    z-index: 1000;

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 96px;

        .list {
            display: flex;
            gap: 48px;

            .nav {
                display: flex;
                gap: 36px;
                align-items: center;

                .link {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1em;
                    color: var(--color-text-primary);
                    text-transform: capitalize;
                    // pointer-events: none;
                    cursor: pointer;

                    &:hover {
                        color: var(--color-primary);
                    }
                }
            }
        }

        .utilities {
            .list {
                display: flex;
                gap: 24px;
                align-items: center;
            }
        }
    }
}
