.swiper {
    width: 100%;
    height: 868px;
}

.swiper-slide {
    border-radius: var(--border-radius-default);
    text-align: center;
    font-size: 18px;
    background: #444;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1260px !important;
    height: 780px !important;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
    border-radius: 50%;
    border: 1px solid var(--color-gray-300);
    background: var(--background-color-primary);
    top: auto !important;
    bottom: 0;
    width: 64px;
    height: 64px;
}
.swiper-button-prev {
    left: auto !important;
    right: 0 !important;
}
.swiper-button-next {
    right: 0 !important;
}
:is(.swiper-button-prev, .swiper-button-next) svg {
    fill: var(--color-black);
    color: var(--color-black);
    width: 11px;
    height: 22px;
    stroke-width: 1px;
    stroke: currentColor;
    stroke-linejoin: round;
}
.swiper-button-prev.swiper-button-disabled {
    border: none;
    background: var(--color-gray-100);
}
