.container {
    border-radius: var(--border-radius-default);
    position: relative;
    width: 1260px;
    height: 780px;
    overflow: hidden;

    &:hover {
        .image {
            transform: scale(1.02);
        }
    }

    .link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease-in-out;
    }

    .content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: var(--font-color-white);
        text-align: left;
        padding: 0 128px 64px 64px;

        .category {
            font-size: 16px;
            font-weight: 700;
            line-height: 1.4em;
            text-transform: uppercase;
            padding-bottom: 4px;
        }

        .title {
            height: 100px;
            font-size: var(--font-body1-size);
            font-weight: var(--font-body1-weight);
            line-height: var(--font-body1-line-height);
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 48px;
        }

        .date {
            font: {
                size: var(--font-caption1-size);
                weight: var(--font-caption1-weight);
                line-height: var(--font-caption1-line-height);
            };
        }
    }
}